// Windows 应用资源文件
#include <windows.h>

IDI_ICON1 ICON "resources/icons/app.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "KFrame"
            VALUE "FileDescription", "bambooRat (BR) - 桌面多工具"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "bambooRat"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "bambooRat.exe"
            VALUE "ProductName", "bambooRat"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
